@media (max-width: 375px){
    .section-principal nav .Logo h1{
        font-size: 40px;
    }
    .section-secundaria div{
        gap: 2rem
    }
    .section-secundaria div a{
        font-size: 20px;
    }
    .section-quinta{
        h1{
            font-size: 35px;
        }
        h2{
            font-size: 35px;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
    }
}