@media (max-width: 425px){
    .section-principal{
        nav{
            .Logo{
                h1{
                    font-size: 40px;
                }
            }
        }
    }

    .section-secundaria div{
        gap: 2rem
        a{
            font-size: 40px;
        }
    }

    .section-cuarta{
        img{
            margin: 10px ;
        }
    }

    .section-quinta{
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 40px;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
        iframe{
            width: 250px;
        }
    }

    .section-sexta{
        h1{
        font-size: 40px;
        }
        h2{
        font-size: 40px;
        }
        p{
        font-size: 30px;
        }
    }
}
